<div class="card-container">
  <div class="card">
    <form (submit)="onSubmit()" [formGroup]="authFormGroup">
      <div class="fields">
        <h3>Connexion</h3>
        <p>{{ errorMessage }}</p>
        @if (router.url === '/auth/signup') {
          <div>
            <label>Nom d'utilisateur</label>
            <input type="text" placeholder="text" formControlName="username">
          </div>
        }
        <div>
          <label>Email</label>
          <input type="email" placeholder="Email" formControlName="email">
        </div>
        <div>
          <label>Mot de passe</label>
          <input type="password" formControlName="password">
        </div>
        @if (router.url === '/auth/signup') {
          <div>
            <label>Confirmer le mot de passe</label>
            <input type="password" formControlName="confirmPassword">
            @if (authFormGroup.get('confirmPassword')?.errors?.['required']) {
              <p>Confirmation obligatoire</p>
            }
            @if (authFormGroup.get('confirmPassword')?.errors?.['passwordMismatch']) {
              <p>Les mots de passe ne correspondent pas</p>
            }
          </div>
        }
        <button [disabled]="!enableSubmitButton()">Connexion</button>
        @if (router.url === '/auth/signup') {
          <span>Déjà un compte ? <a routerLink="/auth/signin">Connectez-vous !</a></span>
        } @else {
          <span>Pas encore de compte ? <a routerLink="/auth/signup">Inscrivez-vous !</a></span>
        }
      </div>
    </form>
  </div>
</div>
