@import "tailwindcss";

/* Import Nerd Font */
@import url('https://cdn.jsdelivr.net/gh/ryanoasis/nerd-fonts@master/css/nerd-fonts-generated.css');

/* You can add global styles to this file, and also import other style files */
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: "CaskaydiaMono Nerd Font", "Cascadia Mono", monospace, sans-serif; 
}
